{% extends 'base.html.twig' %}

{% block title %}Редактировать опрос{% endblock %}

{% block body %}
    <div class="container py-5 bg-white rounded shadow-sm" style="max-width: 900px;">
        <h1 class="mb-4">Редактировать опрос</h1>

        {{ include('admin/feedback/_form.html.twig', { form: form }) }}
    </div>
{% endblock %}
