{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Страница не найдена (404){% endblock %}

{% block body %}
    <div class="container py-5 text-center">
        <h1 class="display-1 text-danger">404</h1>
        <h2 class="mb-4">Страница не найдена</h2>
        <p class="lead mb-4">Запрашиваемая страница не существует.</p>
    </div>
{% endblock %}