{# templates/feedback/thanks.html.twig #}
{% extends 'base_plain.html.twig' %}

{% block body %}
    <div class="container my-5" style="background-color: #f8f9fa; border-radius: 10px; padding: 40px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-white shadow-lg border-0 rounded-4">
                    <div class="card-body p-5 text-center">
                        <h1 class="mb-4">{{ 'Спасибо за участие!' }}</h1>
                        <p>Ваши ответы были сохранены.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
